﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="projetos_report.aspx.cs" Inherits="webReport.reportPages.projetos_report" %>

<%@ Register assembly="DevExpress.XtraReports.v17.2.Web, Version=17.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" namespace="DevExpress.XtraReports.Web" tagprefix="dx" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <dx:ASPxWebDocumentViewer ID="ASPxWebDocumentViewer1" runat="server" ReportSourceId="WindowsFormsApplication1.XtraReport1">
        </dx:ASPxWebDocumentViewer>
    </form>
</body>
</html>
